#NoteList:empty:before{
  content: "Brak notatek";
  font: italic xx-large bold;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 100vh;
}

.Note{
  background-color: #d98b00;

  border-radius: 5px;

  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;

  width: content-box;

  margin: 15px;
}

.Note > .NoteHeader:empty:before,
.Note > .NoteContent:empty:before{
  content:attr(placeholder);
  color: rgba(0,0,0,0.5);
  font-style: italic;
}

.Note > .NoteHeader,
.Note > .NoteContent{
  background-color: transparent;

  border: none;

  min-height: 1em;

  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  overflow-y: hidden;

  margin: 1.5em;
}


.Note > .NoteHeader{
  font-weight: bold;
  font-size: large;

  text-align: center;
}
.Note > .NoteContent{
  font-size: small;
}

.Note > .NoteFooter{
  display: grid;
  grid: auto / auto auto;

  margin-bottom: 2px;
  margin-right: 0;
  margin-left: 0;
}

.Note > .NoteFooter .NoteEditButton,
.Note > .NoteFooter .NoteDeleteButton{
  border-style: none;
  background-color: transparent;
  opacity: 70%;
  border-radius: 10px;
}

.Note > .NoteFooter .NoteEditButton{
  grid-area: 1 / 1;
}

.Note > .NoteFooter .NoteDeleteButton{
  grid-area: 1 / 2;
}

.Note > .NoteFooter .NoteEditButton:hover{
  opacity: 100%;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
}
.Note > .NoteFooter .NoteDeleteButton:hover{
  opacity: 100%;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.Note > .NoteFooter .NoteEditButton img,
.Note > .NoteFooter .NoteDeleteButton img{
  width: 20px;
  height: 20px;
  opacity: inherit;
}
